<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to courses_path, class: "navbar-brand" do %>
      <h2>Fingo</h2>
    <% end %>

    <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to "Dashboard", dashboard_path, class: "nav-link-custom", style: "margin-left: 3rem;"%>
          </li>
          <li class="nav-item">
            <%= link_to "Courses", courses_path, class: "nav-link-custom" %>
          </li>
        <% end %>
      </ul>

      <% if user_signed_in? %>
        <div class="nav-icons ms-auto">

          <div class="dropdown card-nav">
            <a href="#" id="coinsDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <div class="d-flex justify-content-between align-item-baseline">
              <div class="me-1"><h5>🤑</h5></div>
              <div><h5><%= current_user.coins %></h5> </div>
            </div>
            </a>

            <div class="dropdown-menu dropdown-menu-end  dropdown-custom mt-2" aria-labelledby="coinsDropdown">
              <h5>Coins</h5>
              <p style="font-size: 14px;">You have <%= current_user.coins %> coins</p>
              <hr>
              <div class="btn-custom-small">
                 <%= link_to "Fingo Store", courses_path %>
              </div>
            </div>
          </div>

          <div class="d-flex align-items-baseline card-nav">
            <div class="me-1"><h5>⚡️</h5></div>
            <div><h5><%= current_user.streak %></h5></div>
          </div>


          <div class="dropdown">
          <a href="#" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <div class="nav-circle p-2">
              <%= image_tag (current_user.avatar ? current_user.avatar : "cheems.png"), class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            </div>
          </a>
             <!-- <i class="fas fa-bars"></i>-->
            <div class="dropdown-menu dropdown-menu-end dropdown-custom" aria-labelledby="navbarDropdown">
              <%= link_to "Profile", "#", class: "dropdown-item" %>
              <%= link_to "Settings", "#", class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </div>
        </div>
      <% else %>
        <div class="ms-auto">
          <button class="btn-custom-secondary">
            <%= link_to "Login", new_user_session_path, class: "btn-link" %>
          </button>
        </div>
      <% end %>
    </div>
  </div>
</div>
