<div class="container text-center my-5" data-controller="coin-falling" data-coin-falling-picture-url-value="<%= asset_path "coins.png"  %>">

    <img src="https://i.giphy.com/IwAZ6dvvvaTtdI8SD5.webp" alt="Celebration GIF" class="img-fluid mb-4">
    <h2 class="mb-4">Damn! Solid job.</h2>
    <h4>You've completed the lesson <strong><%= @lesson.title %></strong>! Time to dance.</h4>
      <div class="d-flex justify-content-center">

        <div class="card-celebration">
          <div class="card-celebration-header">
            <h5> Streak</h5>
          </div>
          <div class="card-celebration-body">
            <div class="celebration-icon"><h3>⚡️</h3></div>
            <div class="celebration-value"><h3><%= current_user.streak %></h3></div>
          </div>
        </div>

        <div class="card-celebration">
          <div class="card-celebration-header">
            <h5>Coins</h5>
          </div>
          <div class="card-celebration-body">
            <div class="celebration-icon"><h3> 🪙 </h3></div>
            <div class="celebration-value">
                <h3 data-controller="coins"
              data-coins-start-value="<%= params[:previous_coin_amt] %>"
              data-coins-end-value="<%= current_user.coins %>"> <%= params[:previous_coin_amt] %></h3></div>
          </div>
        </div>

      </div>

    <%# <div class="border border-dark d-inline-block p-3 mb-4">
      <%# <div>Total XP</div>
      <div class="h4 text-primary">35</div> %>
    <%# </div> %>
    <div class="mt-4">
      <div class="d-flex justify-content-center">
          <%= button_to course_path(@lesson.course.title), method: :get, class: "btn-custom-primary" do %>
              Back to course
          <% end %>
      </div>

      </div>
      </div>

    </div>
  </div>
