<div class="container">
  <div class="row">
    <div class="col-12">
      <h2 class="card-title text-center"><%= @lesson.title %></h2>
    </div>
  </div>

  <div class="row">
    <% prev_step_number = @step.order - 1 %>
    <% next_step_number = @step.order + 1 %>

    <% if prev_step_number > 0 %>
      <div class="col-1 d-flex justify-content-start align-items-start">
        <%= link_to lesson_path(@lesson.title, step: prev_step_number), class: "btn btn-link p-0" do %>
          <i class="fas fa-arrow-left fa-2x"></i>
        <% end %>
      </div>
    <% else %>
      <div class="col-1"></div>
    <% end %>

    <div class="col-10">
      <div class="card-step">
        <%= @step.content %>
      </div>

      <div class="card-answers">
        <% if @step.is_question %>
          <% @step.answers.each do |answer| %>
            <div class="card-answer">
              <%= answer.content %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>

    <% if next_step_number <= @lesson.steps.count %>
      <div class="col-1 d-flex justify-content-end align-items-start">
        <%= link_to lesson_path(@lesson.title, step: next_step_number), class: "btn btn-link p-0" do %>
          <i class="fas fa-arrow-right fa-2x"></i>
        <% end %>
      </div>
    <% else %>
      <div class="col-1"></div>
    <% end %>
  </div>

  <div class="row mt-3">
    <div class="col-12 d-flex justify-content-end">
      <% next_step_number = @step.order + 1 %>
      <% if next_step_number <= @lesson.steps.count %>
        <div class="button">
          <%= link_to 'Continue', lesson_path(@lesson.title, step: next_step_number), class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
