<div class="container position-relative">
  <!-- Navigation and Exit Button Row -->
  <div class="row align-items-center mt-3">
    <div class="col-1 d-flex justify-content-start">
      <%= button_to save_progress_and_exit_path(step: @step.order, course_title: @lesson.course.title), method: :post, class: "btn btn-link p-0" do %>
        <i class="fas fa-times fa-2x"></i>
      <% end %>
    </div>

    <% prev_step_number = @step.order - 1 %>
    <% next_step_number = @step.order + 1 %>

    <% if prev_step_number > 0 %>
      <div class="col-1 d-flex justify-content-end">
        <%= button_to user_progress_path(@lesson.user_progresses.active_for(current_user), step: prev_step_number), method: :patch, class: "btn btn-link p-0" do %>
          <i class="fas fa-arrow-left fa-2x"></i>
        <% end %>
      </div>
    <% else %>
      <div class="col-1"></div>
    <% end %>

    <% progress = (@step.order.to_f / @lesson.steps.count * 100).round %>
    <div class="col-8">
      <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: <%= progress %>%;" aria-valuenow="<%= progress %>" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>

    <% if next_step_number <= @lesson.steps.count %>
      <div class="col-1 d-flex justify-content-end">
        <%= button_to user_progress_path(@lesson.user_progresses.active_for(current_user), step: next_step_number), method: :patch, class: "btn btn-link p-0" do %>
          <i class="fas fa-arrow-right fa-2x"></i>
        <% end %>
      </div>
    <% else %>
      <div class="col-1"></div>
    <% end %>
  </div>
  <!-- Lesson Title and Content Row -->
  <div class="row mt-3">
    <div class="col-12">
      <h2 class="card-title text-center"><%= @lesson.title %></h2>

      <div class="card-step">
        <%= @step.content %>
      </div>

      <div class="card-answers">
        <% if @step.is_question %>
          <% @step.answers.each do |answer| %>
            <div class="card-answer">
              <%= answer.content %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <!-- Continue Button Row -->
  <div class="row mt-3">
    <div class="col-12 d-flex justify-content-end">
      <% if next_step_number <= @lesson.steps.count %>
        <div class="button">
          <%= button_to user_progress_path(@lesson.user_progresses.active_for(current_user), step: next_step_number), method: :patch, class: "btn btn-primary" do %>
            Continue
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
