<div class="container position-relative" data-controller="answer">
  <!-- Navigation and Exit Button Row -->
  <div class="row align-items-center mt-3">
    <div class="col-1 d-flex justify-content-start">
      <%= link_to course_path(@lesson.course.title), class: "btn btn-link p-0" do %>
        <i class="fas fa-times fa-2x"></i>
      <% end %>
    </div>

    <% prev_step_number = @step.order - 1 %>
    <% next_step_number = @step.order + 1 %>

    <% if prev_step_number > 0 %>
      <div class="col-1 d-flex justify-content-end">
        <%= button_to user_progress_path(@user_progress, step: prev_step_number), method: :patch, class: "btn btn-link p-0" do %>
          <i class="fas fa-arrow-left fa-2x"></i>
        <% end %>
      </div>
    <% else %>
      <div class="col-1"></div>
    <% end %>

    <% progress = (@step.order.to_f / @lesson.steps.count * 100).round %>
    <div class="col-8">
      <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: <%= progress %>%;" aria-valuenow="<%= progress %>" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>

    <% if next_step_number <= @lesson.steps.count %>
      <div class="col-1 d-flex justify-content-end">
        <%= button_to user_progress_path(@lesson.user_progresses.for(current_user), step: next_step_number), method: :patch, class: "btn btn-link p-0" do %>
          <i class="fas fa-arrow-right fa-2x"></i>
        <% end %>
      </div>
    <% else %>
      <div class="col-1"></div>
    <% end %>
  </div>

  <!-- Lesson Title and Content Row -->
  <div class="row mt-3 d-flex justify-content-center">
  <div class="col-12 text-center">
    <% if @step.is_question %>
      <h2 class="card-title justify-content-center mt-5"><%= @step.content %></h2>
    <% else %>
      <h2 class="card-title justify-content-center mt-5"><%= @step.title %></h2>
    <% end %>
  </div>

  <div class="col-8 d-flex justify-content-center">
    <% if @step.is_question == false %>
      <div class="card-step text-justify mt-5">
      <h4> <%= @step.content %> </h4>
        <div class="text-center mt-5">
          <%= image_tag @step.image_name %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="col-12">
    <% if @step.is_question %>
      <div class="card-answers list-group mt-5 d-flex justify-content-center">
        <% @step.answers.each do |answer| %>
          <div class="answer-disabled"  data-answer-target="answer" data-action="click->answer#enableBtn" data-correct="<%= answer.is_correct %>">
             <h4> 💁 <%= answer.content %></h4>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>


<!-- Bottom Row with Feedback Message and Continue Button -->
  <div class="row fixed-bottom w-100 py-5 bg-white feedback-border" >
    <div class="col-8 d-flex align-items-center">
      <!-- Feedback message -->
      <% if @step.is_question %>
        <div  data-answer-target="feedback">
          <%# content will be added here using answer_controller %>
          <div class="d-none d-flex align-items-center mx-5" data-answer-target="correct">
            <%=image_tag "answer_correct.png", alt:"Success", style:"height: 40px; margin-right: 10px;"%>
            <h3>That's what I'm talking about. <br/> You've got this!</h3>
          </div>

          <div class="d-none d-flex align-items-center mx-5" data-answer-target="incorrect">
            <div class="mx-2">
               <%=image_tag "answer-incorrect.png", alt:"Facepalm", class: "image-feedback" %>
            </div>
            <div>
               <h3>C'mon fam.<br/> The right answer is "<span data-answer-target="correctAnswer"><%= @step.answers.where(is_correct: true).first.content %></span>".</h3>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <div class="col-4 d-flex justify-content-end">
      <% if next_step_number <= @lesson.steps.count %>

        <% if !@step.is_question %>
         <%= button_to user_progress_path(@lesson.user_progresses.for(current_user), step: next_step_number), method: :patch, class: "btn-custom-lesson" do %>
           Continue
         <% end %>


        <% else %>
          <%#= button_to data:{ action: "click->answer#checkAnswer" }, class: "btn-custom-lesson-disabled" do %>
          <button data-answer-target="buttonCheck" data-action="click->answer#checkAnswer" class="btn-custom-lesson-disabled" disabled>
            Check
          </button>

          <div  data-answer-target="buttonContinue" class="d-none">
            <%= button_to user_progress_path(@lesson.user_progresses.for(current_user), step: next_step_number), method: :patch, class: "btn-custom-lesson" do %>
              Continue
            <% end %>
           </div>
          <%# end %>
        <% end %>

      <% else %>
        <div class="button">
          <%= button_to complete_user_progress_path(@user_progress), method: :patch, class: "btn-custom-lesson" do %>
            Finish lesson
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

</div>
