<div class="container">
  <% if user_signed_in? %>
    <%# if current_user.active_course %>
      <div>
        <h3 class="my-5">🎯 Recommended for you</h3>
      </div>

      <div class="d-flex flex-row align-items-center justify-content-between my-5 card-course">
        <%= link_to course_path("Invest Like a Boss"), class: "d-flex text-decoration-none text-dark w-100" do %>
          <div class="d-flex align-items-center w-100">
            <div class="progress-image-container">
              <%= image_tag "advanced_investing.jpg", alt: '', class: "progress-image" %>
            </div>
            <div class="mx-3 flex-grow-1">
              <h4>Invest Like a Boss</h4>
              <p>Boost your investment game and make your money work for you.</p>
            </div>
          </div>
        <% end %>
      </div>
      <hr>
    <%# end %>
  <% end %>

  <div class="my-5">
    <h3>🧐 Browse All Courses</h3>
  </div>

  <div class="row">
    <% @courses.each do |course| %>
      <div class="col-md-4 mb-4">
        <div class="card-course h-100">
          <%= link_to course_path(course.title), class: "d-flex flex-column text-decoration-none text-dark" do %>
            <div class="card-image-container">
              <%= image_tag course.image_name, alt: '', class: "card-image" %>
            </div>
            <div>
              <h4><%= course.title %></h4>
              <p><%= course.description %></p>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
