<div class="container mt-4">
  <div class="row">
    <div class="col-md-4">
      <div class="card-course-show h-100">
        <div class="card-body">
          <div class="custom-image">
            <%= image_tag 'collage-1.jpg', alt: '', class: "custom-image" %>
          </div>
          <h2 class="card-title"><%= @course.title %></h2>
          <p class="card-text"><%= @course.description %></p>
          <p class="card-text"><i class="fas fa-book"></i> <%= pluralize(@course.lessons.count, 'Lesson') %></p>
        </div>
      </div>
    </div>

    <div class="col-md-8">
      <div class="title-border-bottom">
        <h3>Lessons</h3>
      </div>
      <%= render 'lessons_list' %>
    </div>
  </div>
</div>
