<!DOCTYPE html>
<html>
  <head>
    <title>Fingo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
  </head>

  <body>

  <% unless controller_name == 'lessons' && (action_name == 'show' || action_name == 'celebration') %>
    <%= render "shared/navbar" %>
  <% end %>


  <%= render "shared/flashes" %>

    <%= yield %>
  </body>
</html>
